body{
    background-color: lightblue;

    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color:rgb(7, 7, 8);
    text-align: LEFT;
}

h1{
    text-align: left;
    color: rgb(7, 7, 7);
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

h2 {
    text-align:center;
    color: darkred;
}